p{
    color: rgb(226, 43, 43);
    height: 32px; 
}/*لو شغال علي pragraph*/
 .my-p{
    color: blueviolet;
    height: 12px; 
} /* لو شغال علي class*/
#my-p{
    color: rgb(4, 1, 12);
    height: 92px; 
} /*لو شغال علي id*/
.div {
    
}
.do {
    background-color: rgba(128, 119, 119, 0.26);  /* color name*/
     /* background-image: url(../imags/FB_IMG_1632681471233.jpg);طريقة استدعاء صورة "../" */
    background-repeat:no-repeat  ;/* لو عاوز اكرر الخلفية بختار rebeat */
    background-attachment:fixed ; /*  scrollلو عاوز اثبت الصورة في الباك جراوند وانا بعمل */
    background-attachment:scroll ; /*  scrollلو مش عاوز اثبت الصورة في الباك جراوند وانا بعمل */
    background-position:  top;  /** لو عاوز احدد مكان الصباك جراوند*/
    background-size:contain;/* contain=> \ لwindow لو عاوز الصورة تتحرك مع تكبير ال */
    background-size:cover;/*  cover=>لو عاوز الصورة تملا الشاشة */
    /* background: 20px 100px;background-size;لو عاوز اتحكم في حجم الخلفية  */
    padding: 10px 10px ;/*لوضع حواف داخلية للكلام فقط وليس للباك جراوند*/
    /* padding bottom: 50px; ;لو عاوز اعمل حواف ت تحت بس وهكذا ل باقي الاحتمالات */
    margin-left : auto;  /*بيعمل هوامش للباك جراوند*/
    margin-right : auto;  /*بيعمل هوامش للباك جراوند*/
    width: 50%; /* للتحكم عي عرض الباك جراوند للعنصر*/
    /* border-width: 10px ; */
    /* border-color: brown; */
    /* border-style:solid ; */
    /* outline:style size color ; يستخدم لوضع اطار حول العنصر بس مبياخدش من مساحته*/
    /* border: 10px solid cadetblue;  يستخدم لوضع اطار حول العنصر بس مبيقلش الشغل علي الاربع جهات */
    /* 
     display:- يستخدم لاستدعاء عدة اوامر منها 
     
    1- block => بنستخده لو هنحط كل سطر لوحده او كل عنصر في سطر لوحده
                            بيحترم كل الاتي 
    margin - padding- width - height
    2- inline=> مش هنستدمه عشان مش محترم     
    3- Inlin-Block => هنستخدمه لو عاوزين نحط عناصر في نفس السطر
    4- none =>  بيخفي العنصر ويظهره ولا يترك مكانه فارغ*/
        
        /* visibility: hidden;  => يخفي العنصر ولكن يترك مكانه فارغ*/


}
    .assign-1-shape-1 {
     width: 500px;
     margin: auto;
     background-color: blueviolet;
     background-color: rgb(138 43 226);
     padding: 20px 
    }
.assign-1-shape-2{
    width: 500px;
     margin: auto;
     /* background-color: blueviolet;  */
    background-color: rgb(138 43 226/50%);
    padding: 20px
}
.assign-1-shape-3{
    width: 500px;
    margin: auto;
    /* background-color: blueviolet;  */
   background-color: rgb(138 43 226/10%);
   padding: 20px
}

.shit{
    background-color: beige;
    width: 400px;
    margin:25px ;
    padding: 20px ; 
    border:50px solid beige;
    /* position: absolute;  => بيتحرك بناء علي الصفحة او الاب اللي هو فيه   */
    /* position:fixed; => scroll بيتحرك بناءا علي الصفحة مش الاب اللي هو فيه وبيفضل ثابت حتي لو عملت */
    /* position: relative; => بيتحرك بناء علي نفسه ومبيتأثرش بباقي العناصر اللي معاه وممكن يغطي علي باقي العناصر عادي  */
    /* position: static; => مفيش حاجة بتأثر فيه وهو الوضع الديفولت  */
    /* position: sticky; => (scroll) ممكن احطه بين كلام كتير ويحافظ علي مكانه ولما اعمل 
    بيفضل  ظاهر في الصفحة */
    /* (لو عاوز احط عنصر جوا التاني بخلي  relative الاب) ( absolute  الابن ) */
    /* z-index: ; => لو عندي طبقات فوق بعضها وعاوز اتحكم ف مين فوق التاني */
    /* flexible box 
    for parent :-
    display flex => to start flex box 

    flex-direction: row => default value ممكن اخليه row reverse ومنه بنتحكم باتجاه العناصر ورا بعض 
    flex-direction: column عشان اخلي العناصر في وض عمود مش صف وممكن اعكسه reverse-column

    flex-wrap: nowrap => default علشان اخلي العناصر الزيادة تتكيف جوا الفليكس بوكس 
    wrab وممكن اخليه ميتكيفش كدة العنصر مش هيكمل في نفس الصف من خلال امر 
    wrb-reverse وطبعا ممكن اعكس ترتيب العنصر الزياده من خلال خاصية 

    /* flex-flow: flex-direction: + flex-wrap => دي short hand للامرين اللي فوق   
    justify-content: flex-start; =>  علشان اخلي الكونتنت كله يبدا من علي الشمال اللي هي
     بداية الصفحة ولو حاجة زادت تنزل في بداية الصفحة بردو 
    justify-content: flex-end; => علشان اخلي الكونتنت متركز في نهاية الصفحة 
    justify-content: space-between; => widthعلشان اعمل مسافات بين العناصر ويعضها من اللي باقي من ال 
    justify-content: space-around; => widthعشان اعمل مسافات حواليها  من اللي باقي من 
    /* justify-content: space-evenly ; => width علشان اعمل مسافات بين العناصر وحواليها ب اللي باقي من ال  
    align-content:=> للتحكم في الكونتنت طوليا 
    align-items: stretch ; => بتعمل محاذاة للعنصر طوليا وبتخليه يملي الكونتنت 
    align-items: flex-start; => بتتحكم في ارتفاع العنصر بغض النظر عن ارتفاع الكونتنت عشان ده 
    مش استرتش وبتخليه في بداية الصفحة 
    align-items: flex-end ; => بتخلي العنصر في نهاية الكونتنت 
    align-items: center ; => بتخلي العنصر في نص الكونتنت 
   
    for child 
    flex-grow: ; بتتحكم في نمو العنصر 
    flex-shrink: ; بتتحكم في انكماش العنصر 
    order: ; اعادة ترتيب العناصر
    flex-basis: ; rowبيتحكم في عرض العنصر في حالة ال 
    flex-basis: ; column في طول العنصر في حالة ال 
    align-self: ; للتحكم في align items 
    بس لكل عنصر لوحده
    caret-color => تغيير لون مؤشر الكتابة
    HTML> contenteditable=> لو عندي براجراف عاوز اعدل الكلام جواه 
    pointer-event=> لو عاوز اغير في اعدادات السهم 


     grid => خاصية زي الflex
     parent=>
    display:grid: ;/inline-grid
    grid-template-columns=> [num of columns]=>[ minmax (),px, % , auto]/ repeat(5, auto)/1fr
    grid-template-rows=> [num of columns]=>[px, % , auto]/ repeat(5, auto)/1fr
    row-gap:20px
    column-gap:20px
    gap:10px 15px
    justfy-content
    allign-content    
      
child=>
grid-area=> لو عاوز اتحكم في مساحة العنصر  
grid-colomn:1/7 => لو عاوز اخلي عنصر واحد ياخد صف كامل  
grid-template-area=> لو مدي للاب تيمبليت بتحكم فيه من هنا
} 