{% extends "layout.html" %}

{% block mapscript %}
<script type="module" src="/static/game_map_login.js"></script>
{% endblock %}

{% block main %}

    <div class="container-bottom-map" 
        id="map" 
        map-lat="41.85732" 
        map-lng="-87.778546" 
        map-zoom="17"
        map-marker-title="Click me!" 
        login-msg="{{ login_msg }}">

        <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
                ({ key: "{{ map_api_key }}", v: "beta" });</script>

    </div>

{% endblock %}