{% extends "layout.html" %}

{% block title %}
    Edit shopping list
{% endblock %}

{% block main %}

    <script>
        function ClearFields() {
         document.getElementById("duedate").value = "";
        }
    </script>

    <div class="row">

        <div class="col-12 col-lg-5 border-lg-right pb-4 mt-4">
            <h1 class="lead mb-4">Shopping List Details</h1>
            <form action="/editshopping/{{ shoppingid }}" method="post">
                <div class="form-group row">
                    <div class="col-12 col-lg-4 text-lg-right">
                        <label for="listname">Shopping List:</label>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-3 col-lg-0"></div>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 col-xl-7 input-group">
                        <input class="form-control" name="listname" type="text" value="{{ listname }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-lg-4 text-lg-right">
                        <label for="duedate">Due date:</label>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-3 col-lg-0"></div>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 col-xl-7 input-group">
                        <input class="form-control" id="duedate" name="duedate" type="date" value="{{ duedate }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="ClearFields()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <input hidden type="submit" id="done_s"/>
            </form>
        </div>

        <div class="col-12 col-lg-7 mt-4">
            <h1 class="lead mb-4">Items</h1>
            <form class="form-inline justify-content-center" action="/addshopitem/{{ shoppingid }}" method="post">
                <label for="itemname">Item:</label>
                <input class="form-control ml-3 mr-4" name="itemname" placeholder="Untitled" type="text">
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
            <table class="table rounded table-borderless table-striped-1 bg-1 table-sm mt-3">
                <thead>
                    <tr class="bg-1b">
                        <th scope="col">Item</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.completed == False%}
                            <tr>
                                <td><div class="line">{{ item.itemname }}</div></td>
                                <td>
                                    <a class="btn" href="/tickshopitem/{{ item.itemid }}/{{ shoppingid }}">
                                        <i class="fas fa-check" style="color:#52b788;"></i>
                                    </a>
                                    <a class="btn" href="/deleteshopitem/{{ item.itemid }}/{{ shoppingid }}">
                                        <i class="fas fa-times" style="color:#f25c54;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><div class="line text-secondary"><s>{{ item.itemname }}</s></div></td><td>
                                    <a class="btn" href="/deleteshopitem/{{ item.itemid }}/{{ shoppingid }}">
                                        <i class="fas fa-times" style="color:#f25c54;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-left">
                <form action="/del_cplt_shoppingitem/{{ shoppingid }}" method="post"
                      onSubmit="return confirm('Are you sure you want to delete all completed items?');">
                    <button class="btn btn-danger m-2" type="submit">
                        <i class="far fa-trash-alt"></i> Delete all completed</button>
                </form>
                <form action="/del_all_shoppingitem/{{ shoppingid }}" method="post"
                      onSubmit="return confirm('Are you sure you want to delete all items?');">
                    <button class="btn btn-danger m-2" type="submit">
                        <i class="far fa-trash-alt"></i> Delete all</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}